---
import ExperienceItem from "./ExperienceItem.astro";

const data = [
    {
        "role": "Shimoku - Python Developer & Data Analyst",
        "place": "Barcelona, Spain",
        "time": "Dec 2023 - Present",
        "tasks": [
            "Build data and information visualization solutions using Shimoku SDK.",
            "Build frontend components using Shimoku SDK.",
            "Maintain Data Apps against library dependencies and make proposals for improvements.",
            "Use generative AI tools to streamline processes in building solutions."
        ]
    },
    {
        "role": "JotIt - Researcher in generative AI",
        "place": "Lima, Peru",
        "time": "Jan 2024 - Jan 2024",
        "tasks": [
            "Researched and evaluated generative AI tools to optimize QA processes.",
            "Designed process flows using platforms integrating generative AI and proposed subsystems to enhance the workflow.",
            "Coordinated progress presentation sessions and solicited feedback on proposals.",
            "Organized and effectively documented the project for tracking purposes."
        ]
    },
    {
        "role": "JoyIt - Researcher and Software Developer with a focus in generative AI",
        "place": "Lima, Peru",
        "time": "May 2023 - Dec 2023",
        "tasks": [
            "Spearheaded initiatives within an integrated ATS with processes driven by generative AI.",
            "Conducted thorough research and analysis to identify suitable technologies for project advancement.",
            "Collaborated closely with HR stakeholders to understand business needs and align software solutions.",
            "Proactively acquired expertise in generating alternative solutions to address challenges.",
            "Developed proofs of concept (PoC) to showcase project components on both frontend and backend.",
            "Designed software architecture for a microservices-based system."
        ]
    },
    {
        "role": "Researcher Assistant",
        "place": "Industry 5.0 Research Group, UCSP, Arequipa, Peru",
        "time": "Aug 2022 - July 2023",
        "tasks": [
            "Proposed and developed projects focused on Deep Learning and VR.",
            "Assisted each other in resolving doubts during project development.",
            "Actively researched tools and analyzed their documentation to resolve bugs.",
            "Actively reviewed research papers to analyze their relevance as state-of-the-art within projects."
        ]
    }
]
---

<section id="Experience" class=" py-16">
    <h2 class="font-bold text-2xl flex justify-center">EXPERIENCE</h2>
    {
        data.map((exp) => (
            <ExperienceItem 
                role={exp.role} 
                place={exp.place} 
                time={exp.time}
                projects={exp.projects} 
                tasks={exp.tasks} 
                tools={exp.techs} 
            />
        ))
    }
</section>